.xander-rules-block {
  margin: 2px;
  padding: 2px;
  border: 1px #ccc solid;
  border-radius: 3px;
}

.xander-rules-group,
.xander-rules-array,
.xander-rules-args {
  margin-left: 20px;
}

.xander-rules-function {
  color: bold;
}

.xander-rules-args {
  border: 1px #ccc solid;
  border-radius: 3px;
}

.xander-rules-group {
}

.xander-rules-operator {
}

.xander-rules-depth-1 {
  margin-left: 0px;
}

.xander-rules-depth-2 {
  margin-left: 0px;
}

.xander-rules-depth-3 {
  margin-left: 0px;
}
